$light: #ababab
$normal: #000

// @mixin attachment
//   background: #1b1b24 url('/assets/pattern-seigaiha2.png') repeat
//   color: #cecece
//   margin-bottom: 30px
//   margin-top: 30px
//   overflow: hidden
//   padding: 20px

//   box-shadow:         inset 0 20px 20px -20px #000, inset 0 -20px 20px -20px #000
//   -moz-box-shadow:    inset 0 20px 20px -20px #000, inset 0 -20px 20px -20px #000
//   -webkit-box-shadow: inset 0 20px 20px -20px #000, inset 0 -20px 20px -20px #000

@mixin content
  margin: 0 auto
  min-width: 400px
  max-width: 800px
  padding: 0 20px

body
  background: #E5E5EC
  color: $normal
  font-family: "proxima-nova", "helvetica neue", helvetica, arial, geneva, sans-serif
  font-size: 15px
  line-height: 1.6em

  a
    color: #514E70
    text-decoration: none

    &:hover
      text-decoration: underline

  a.vanilla

    &:hover
      text-decoration: none

  em
    font-style: italic

  h1, h2, h3, h4, p, ol, ul
    @include content

  h1, h2, h3, h4
    color: $normal
    margin-bottom: 30px
    margin-top: 30px

  h1
    font-size: 30px
    font-weight: bold


  h2
    font-size: 24px

  h3
    font-size: 20px

  ol, ul

    li
      margin-bottom: 5px

  ol
    list-style-type: decimal

    li
      margin-left: 55px

  p, li
    hyphens: auto
    -moz-hyphens: auto
    -webkit-hyphens: auto

  p
    margin-bottom: 20px
    margin-top: 20px

  strong
    font-weight: bold

  ul
    list-style-type: disc

    li
      margin-left: 50px
      padding-left: 5px

  article
    border-bottom: 1px dotted grey
    padding: 20px

    &:first-child
      padding-top: 0

    &:last-child
      padding-bottom: 0

    code
      background: #efefef
      border: 1px solid #cecece
      padding: 2px 4px

    pre
      // @include attachment
      font-family: Menlo, Monaco, monospace
      font-size: 14px

      code
        @include content
        background: #efefef
        border: 0
        display: block
        padding: 20px

    code, pre
      .pln
        color: #333

      .str
        color: #333
        background: none

      .pun
        color: #333

    .extra
      color: $light
      font-size: 14px

      img
        border-radius: 50%
        margin: 0 10px 0 0
        vertical-align: middle

    .attachment
      // @include attachment

      img
        display: block
        margin: 20px auto

        box-shadow: 0 0 10px #000
        -moz-box-shadow: 0 0 10px #000
        -webkit-box-shadow: 0 0 10px #000

  header
    #title
      @include content
      // background: #14141A
      color: $normal
      font-family: hybrea, "helvetica neue", helvetica, arial, geneva, sans-serif
      font-size: 20px
      font-weight: 400
      padding: 20px

      a
        // color: #B0AEC8
        color: #3A3A4D
        text-decoration: none

      span
        color: #A59999
        margin: 0 7px 0 0

      nav
        float: right
        font-family: "proxima-nova", "helvetica neue", helvetica, arial, geneva, sans-serif

        a
          color: #514E70
  #archive, #other_articles
    ol, ul

      li
        margin-left: 20px

    .extra
      color: $light

  #archive, #articles
    padding: 20px

  #about
    background: #14141A
    color: #494962
    padding: 20px

    h2
      color: #666680
      margin-top: 10px