$dark: #000
$light: #ababab
$normal: #000

$serif: georgia, serif
$sans_serif: "proxima-nova", "helvetica neue", helvetica, arial, geneva, sans-serif

@mixin attachment
  background: #e9e9ef url('/assets/pattern-seigaiha.png') repeat
  margin: 30px auto
  overflow: hidden
  padding: 20px

  // shadows are too jarring on the eye
  //box-shadow:         inset 0 10px 10px -10px rgba(0, 0, 0, 0.3), inset 0 -10px 10px -10px rgba(0, 0, 0, 0.3)
  //-moz-box-shadow:    inset 0 10px 10px -10px rgba(0, 0, 0, 0.3), inset 0 -10px 10px -10px rgba(0, 0, 0, 0.3)
  //-webkit-box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.3), inset 0 -10px 10px -10px rgba(0, 0, 0, 0.3)

@mixin content
  margin: 0 auto
  min-width: 400px
  max-width: 680px
  padding: 0 20px

body
  background: #fff
  color: $normal
  font-family: $serif
  font-size: 17px
  line-height: 1.7em

  a
    color: #7c76b8
    text-decoration: none

    &:hover
      text-decoration: underline

  a.vanilla

    &:hover
      text-decoration: none

  em
    font-style: italic

  h1, h2, h3, h4, p, ol, ul
    @include content

  h1, h2, h3, h4
    color: $dark
    font-family: $sans_serif
    font-weight: 200
    line-height: 1.4em
    margin-bottom: 30px
    margin-top: 30px

  h1
    border-bottom: 1px solid #bcbcbc
    font-size: 45px
    margin: 40px auto 20px auto
    max-width: 800px
    padding: 20px 0 40px 0
    text-align: center

  h2
    border-bottom: 1px solid #dedede
    font-size: 25px
    padding-bottom: 16px

  h3
    font-size: 22px

  ol, ul

    li
      margin-bottom: 5px

  ol
    list-style-type: decimal

    li
      margin-left: 55px

  p, li
    hyphens: auto
    -moz-hyphens: auto
    -webkit-hyphens: auto

  p
    margin-bottom: 20px
    margin-top: 20px

  strong
    font-weight: bold

  ul
    list-style-type: disc

    li
      margin-left: 50px
      padding-left: 5px

  article
    margin: 50px 0
    padding-bottom: 20px

    blockquote
      padding-left: 48px

      p
        border-left: 8px solid #cecece

    code
      background: #efefef
      border: 1px solid #cecece
      padding: 2px 4px

    pre
      @include attachment
      font-family: Menlo, Monaco, monospace
      font-size: 14px
      line-height: 1.4em

      code
        @include content
        background: transparent
        border: 0
        display: block
        padding: 0

    .extra
      border-bottom: 1px solid #dedede
      color: $light
      font-family: $sans_serif
      font-size: 15px
      line-height: 1.5em
      margin: 30px 0 0 0
      padding-bottom: 16px
      text-align: center

      img
        border-radius: 40px
        vertical-align: middle

      .meta
        color: $light
        font-family: $serif
        font-size: 14px
        font-style: italic
        text-transform: uppercase

    .extra_before
      border-bottom: 1px solid #dedede
      color: $light
      font-size: 14px
      font-style: italic
      margin-bottom: 40px
      padding-bottom: 16px
      text-align: center
      text-transform: uppercase

    .attachment
      @include attachment

      img
        display: block
        margin: 20px auto

        box-shadow: 0 0 10px #000
        -moz-box-shadow: 0 0 10px #000
        -webkit-box-shadow: 0 0 10px #000

  footer
    font-size: 14px
    line-height: 1em
    text-align: center
    text-transform: uppercase

    a
      color: #000
      text-decoration: underline

      &:hover
        text-decoration: none

    .about
      font-size: 12px

  header
    margin: 10px 0

    #title
      @include content
      color: $normal
      font-family: hybrea, "helvetica neue", helvetica, arial, geneva, sans-serif
      font-size: 20px
      font-weight: 400
      margin: 16px 0
      text-transform: lowercase

      a
        color: $normal
        text-decoration: none

      strong
        color: #7a7a8a
        margin: 0 10px 0 0

  .glyph_bamboo, .glyph_blossom, .glyph_bonsai, .glyph_garden
    color: #000
    font-family: waza
    font-size: 80px
    speak: none
    text-align: center
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased

  .glyph_bamboo:before
    content: "\62\61\6d\62\6f\6f"

  .glyph_blossom:before
    content: "\62\6c\6f\73\73\6f\6d"

  .glyph_bonsai:before
    content: "\62\6f\6e\73\61\69"

  .glyph_garden:before
    content: "\67\61\72\64\65\6e"

  #archive, #other_articles
    @include content
    font-family: $sans_serif
    margin: 40px auto

    ol, ul

      li
        margin-left: 20px

    .extra
      color: $light

@media only screen and (min-width: 200px)
  body
    font-size: 15px

    h1
      font-size: 35px

    h2
      font-size: 20px

    h3
      font-size: 15px

    article

      pre
        font-size: 12px

      .extra
        font-size: 13px

    footer
      font-size: 12px

      .about
        font-size: 10px

@media only screen and (min-width: 600px)
  body
    font-size: 16px

    h1
      font-size: 45px

    h2
      font-size: 25px

    h3
      font-size: 22px

    article

      pre
        font-size: 14px

      .extra
        font-size: 15px

    footer
      font-size: 14px

      .about
        font-size: 12px

@media only screen and (min-width: 1400px)
  body
    font-size: 18px

    h1
      font-size: 50px

    h2
      font-size: 30px

    h3
      font-size: 22px

    article

      pre
        font-size: 14px

      .extra
        font-size: 15px

    footer
      font-size: 14px

      .about
        font-size: 12px
